@(user: models.User)(qList: java.util.List[models.Question])

@stylesheets = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin.css")" />
}

@javascripts = {
    <script src="@routes.Assets.at("javascripts/jquery.sortable.min.js")" type="text/javascript"></script>
    <script>$(function(){
        $(".sortable" ).sortable( {
            handle: '.handle'
        });
    });</script>
}

@* <div class="col-sm-1 handle">::</div>
<div class="col-sm-8">@q.getText</div>
<div class="col-sm-3">
<div class="action-button-place">
<a class="btn btn-default action-button"
href="@routes.AdminController.getQuestion(q.getId)">
<span class="glyphicon glyphicon-pencil"></span> Edit</a>
</div>

<div class="action-button-place">
@helper.form(action = routes.AdminController.deleteQuestion) {
<input type="hidden" name="id" value="@q.getId" />

<button class="btn btn-danger action-button" type="submit">
    <span class="glyphicon glyphicon-remove"></span> Delete</button>
    }
    </div>
    </div>*@

@main("Admin Dashboard: Question Management - Careers From Here")(stylesheets)(javascripts)(user) {
    <div class="spacing-panel">
        <div class="shadow-panel table-responsive">
            <a class="btn btn-default action-button"
            href="@routes.AdminController.getNewUser()">
                <span class="glyphicon glyphicon-plus"></span> Add question</a>
            <ul class="sortable">
                @for(q <- qList) {
                    <li class="clearfix">
                        <span class="handle">::</span>
                        @q.getText

                    </li>
                }
            </ul>
        </div>
    </div>

}