@(user: models.User)(qList: java.util.List[models.Question])

@stylesheets = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin.css")" />
}

@javascripts = {
    <script src="@routes.Assets.at("javascripts/jquery.sortable.min.js")" type="text/javascript"></script>
    <script>$(function(){
        $(".sortable" ).sortable( {
            handle: '.handle'
        });
        $("#save-button" ).click( function() {
            $(".sortable li" ).each(function(i, e) {
                console.log((i + 1) + " -> " + e.getAttribute("data-order"));
            });
        });
    });</script>
}

@main("Admin Dashboard: Question Management - Careers From Here")(stylesheets)(javascripts)(user) {
    <div class="spacing-panel">
        <div class="shadow-panel table-responsive">
            <div style="float: right">
                <a class="btn btn-default action-button"
                href="@routes.AdminController.getNewQuestion()">
                    <span class="glyphicon glyphicon-plus"></span> Add question</a>
                <button class="btn btn-success action-button" id="save-button">
                    <span class="glyphicon glyphicon-ok"></span> Save order
                </button>
            </div>

            <h2>Questions</h2>
            <span class="help-block">Reorder questions by dragging the handle, click 'Save' to save order.</span>
            <hr>
            <ul class="sortable">
                @for(q <- qList) {
                    <li class="clearfix" data-order="@q.getOrder">
                        <div class="col-xs-1 handle"><span class="glyphicon glyphicon-resize-vertical"></span></div>
                        <div class="col-xs-8">@q.getText</div>
                        <div class="col-xs-1">@{var s = q.getDuration.toInt; (s / 60)+ ":" + (s % 60)}</div>
                        <div class="col-xs-2">
                            <div class="action-button-place">
                                <a class="btn btn-default action-button"
                                href="@routes.AdminController.getQuestion(q.getId)">
                                    <span class="glyphicon glyphicon-pencil"></span></a>
                            </div>

                            <div class="action-button-place">
                            @helper.form(action = routes.AdminController.deleteQuestion) {
                                <input type="hidden" name="id" value="@q.getId" />

                                <button class="btn btn-danger action-button" type="submit">
                                    <span class="glyphicon glyphicon-remove"></span></button>
                            }
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

}