@(currentUser: models.Admin)(userList: java.util.List[models.User])

@stylesheets = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin.css")" />
}

@javascripts = {

}

@main("Admin Dashboard: User Management - Careers From Here")(stylesheets)(javascripts)(currentUser) {
    <div class="spacing-panel">
        <div class="shadow-panel table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                @for(user <- userList) {
                    <tr>
                        <td>@user.getName</td>
                        <td>@user.getEmail</td>
                        <td>
                            <a class="btn btn-default action-button"
                            href="@routes.AdminController.getUser(user.getId)">
                            <span class="glyphicon glyphicon-pencil"></span></a>

                            <a class="btn btn-success action-button" href="#">
                                <span class="glyphicon glyphicon-ok"></span></a>

                            <a class="btn btn-danger action-button"
                                href="@routes.AdminController.deleteUser(user.getId)">
                                <span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}