#video-viewport {
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 640px;
    background-color: #66afe9;
}

#video-viewport video {
    position: absolute;
    width: 100%;
    height: 360px;
}

#overlay {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 777;
    background-color: #66afe9;
    font-size: 40px;
    font-weight: bold;
}

#underlay {
    padding-top: 360px;
    display: inline-block;
    width: 640px;
}
