#video-player-container {
    margin-top: 30px;
}

#video-metadata {
    max-width: 640px;
}

#video-metadata h2 {
    margin-top: 0px;
}

#uploader-info {
    margin-top: 25px;
}

#uploader-info .profile-picture {
    width: 64px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

#uploader-info h3 {
    margin-top: 5px;
}