<html>
    <head>
        <!-- Video player includes -->
        <link href="/assets/stylesheets/video-player.css" rel="stylesheet" />
        <script src="/assets/javascripts/video-player.js"></script>

        <!-- Recorder includes -->
        <link href="/assets/javascripts/recorder.css" rel="stylesheet" />
        <script src="/assets/javascripts/recorder.js"></script>
        <script src="/assets/javascripts/whammy.js"></script>

        <title>Dummy, useless, not important page</title>
    </head>

    <body>
        <div>
            <h3>
                This is the DUNI page. Please do not use it.
            </h3>
        </div>

        @recorder()
        @video_player()

    </body>
</html>