<html>
    <head>
        <!-- Video player includes -->
        @*<link href="/assets/stylesheets/video-player.css" rel="stylesheet" />*@
        @*<script src="/assets/javascripts/video-player.js"></script>*@

        <!-- [OLD] Recorder includes -->
        @*<link href="/assets/javascripts/recorder.css" rel="stylesheet" />*@
        @*<script src="/assets/javascripts/old-recorder.js"></script>*@
        @*<script src="/assets/javascripts/whammy.js"></script>*@

        <!-- Recorder includes -->
        <script src="http://RecordRTC.org/latest.js"></script>
        <script src="/assets/javascripts/recorder.js"></script>
    </head>

    <body>
        @recorder()
@*//        @video_player()*@
    </body>
</html>