@(videos: java.util.List[models.Video])

@stylesheets = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
}

@javascripts = {

}

@main("Welcome")(stylesheets)(javascripts) {
    <div id="category-sidebar" class="col-md-3">

    </div>
    <div id="video-grid" class="col-md-9">
        @for(video <- videos) {
            <a href="#">
                <div class="video-grid-element col-md-4"
                    style="background: url(@video.getThumbnailPath)">
                    <div class="video-info-overlay">
                        <h2>@video.getTitle</h2>
                        <span>@video.getDuration.toString</span>
                    </div>
                </div>
            </a>
        }
    </div>

}