@(videos: java.util.List[models.Video])(catForm: Form[views.forms.CategorySelectionForm])(categoryMap: Map[String, Boolean])(user: models.User)

@import bootstrap3._

@stylesheets = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
}

@javascripts = {
    <script>
        $("#category-sidebar h2" ).click(function() {
            if(isBreakpoint("xs"))
                $("#category").toggle();
        });
    </script>
}

@main("Careers From Here")(stylesheets)(javascripts)(user) {
    <div id="content-wrapper">
        <div class="row">
            <div id="category-sidebar" class="col-md-3 hidden-xs hidden-sm">
                <h2>Categories <span class="glyphicon glyphicon-chevron-down"></span></h2>
                <div id="categories">
                    @helper.form(action = routes.VideoController.categorySelect) {
                        <fieldset>
                            @checkboxes(catForm("categories"),
                                checkboxMap = categoryMap,
                                help = "")
                            <button id="submit" type="submit" value="Submit" class="btn btn-primary">Update</button>
                        </fieldset>
                    }
                </div>
            </div>
            <div id="video-grid" class="col-md-9">
                @for(video <- videos) {
                    <a href="@routes.VideoController.view(video.getId)">
                        <div class="video-grid-element col-sm-6 col-md-4"
                            style="background-image: url(@video.getThumbnailPath)">
                            <div class="video-info-overlay">
                                <h2>@video.getTitle</h2>
                                <span>@{var s = video.getDuration.toInt; s / 60 + ":" + s % 60}</span>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
}