@(questions: java.util.List[Question])(JSONquestions: String)(JSONdurations: String)(user: models.User)

@stylesheets = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/view.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/video-player.css")" />
}

@javascripts = {
    <script src="http://RecordRTC.org/latest.js"></script>
    <script src="@routes.Assets.at("javascripts/recorder.js")"></script>
}

@main("Record new interview - Careers From Here")(stylesheets)(javascripts)(user) {
    <div class="spacing-panel col-md-7">
        @recorder(JSONquestions)(JSONdurations)(user.getId())
    </div>

    Title: <input id="video-title" />
    Description: <input id="video-description" />

    <div class="spacing-panel col-md-5">
        <div class="shadow-panel clearfix">
            <h2>Questions</h2>
            <div>
                @for(question <- questions) {
                    <div class="question clearfix"> @* onclick to recording app with question selection? *@
                        <div class="col-xs-9">@question.getText()</div>
                        <div class="col-xs-3">@{var s = question.getDuration.toInt; (s / 60)+ ":" + (s % 60)}</div>
                    </div>
                }
            </div>
        </div>
    </div>
}