<div>
    <audio id="recorder-audio" autoplay></audio>
    <video id="recorder-video" autoplay></video>
        <div id="recorder-controls">
            <button id="recorder-start-button" onclick="startRecording();">start</button>
            <button id="recorder-stop-button" onclick="stopRecording();">stop</button>
        </div>
</div>

@helper.form(action = routes.Dummy.upload) {
    <input type="text" name="videoData" id="video-data" value="" />
    <input type="submit" />
}

<button onclick="up()">Update Input And Submit</button>