@(paths: java.util.List[String])

<div id="video-player-container">
    <div id="video-viewport">
        <video id="video-player">
            <source src="@paths.get(0)" type="video/mp4">
        </video>
    </div>
    <div id="video-controls">
        <button id="play-pause-button" class="play btn btn-default" onclick="playPauseButton();">
            <span class="glyphicon glyphicon-play"></span>
            <span class="glyphicon glyphicon-pause" style="display: none"></span>
        </button>
        <button id="stop-button" class="stop btn btn-default" onclick="stopButton();">
            <span class="glyphicon glyphicon-stop"></span>
        </button>
        <button id="volume-down-button" class="volume-down btn btn-default" onclick="volume('down');">
            <span class="glyphicon glyphicon-volume-down"></span>
        </button>
        <button id="volume-up-button" class="volume-up btn btn-default" onclick="volume('up');">
            <span class="glyphicon glyphicon-volume-up"></span>
        </button>
        <progress id="progress-bar" min="0" max="100" value="0">0% played</progress>
    </div>
</div>
