<script src="/assets/javascripts/recorder.js"></script>

<div id="rec">
    <video id="recorder" autoplay>
    </video>
</div>

<!-- the next 2 lines need to be in the head -->
<link href="/assets/stylesheets/video-player.css" rel="stylesheet" />
<script src="/assets/javascripts/video-player.js"></script>

<div id="video">
    <video id="video-player" width="640" height="480" controls>
        <!-- test.mp4 is a quite large file, 4.1M -->
        <source src="/assets/test.mp4" type="video/mp4">
    </video>
    <div id="video-controls">
        <button id="play-pause-button" class="play" onclick="playPauseButton();">play</button>
        <button id="stop-button" class="stop" onclick="stopButton();">stop</button>
        <button id="volume-up-button" class="volume-up" onclick="volume('up');">volume up</button>
        <button id="volume-down-button" class="volume-down" onclick="volume('down');">volume down</button>
        <progress id="progress-bar" min="0" max="100" value="0">0% played</progress>
    </div>
</div>
